* {
  margin: 0;
  padding: 0;
  color: hsl(250, 6%, 84%);
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  line-height: 1.9;
  background-color: #03012d;
  padding: 7rem;
  font-size: 16px;
  overflow-x: hidden;
  transition: all 0.3s ease-in;
}

.container {
  width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
}
.logo-container {
  display: flex;
}
select {
  border-radius: 10px;
  background-color: #3d3b5e;
  padding: 1.4rem;
  color: hsl(250, 6%, 84%);
  border: none;
  font-size: 1.4rem;
  align-self: center;
}

/* DROPDOWN STYLES */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #182848;
  color: hsl(250, 6%, 84%);
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.4rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #1e283cf2;
  backdrop-filter: blur(6px);
  border-radius: 10px;
  padding: 1rem 1.8rem;
  width: 250px;
  box-shadow: 0 4px 10px #00000066;
  z-index: 1;
}

.dropdown-content h4 {
  font-size: 1rem;
  color: hsl(250, 6%, 84%);
  margin: 0.8rem 1.6rem 0.4rem;
  font-weight: 500;
}
.border {
  border-bottom: 0.2px solid hsla(252, 6%, 84%, 0.082);
}
.dropdown-content a {
  color: hsl(250, 6%, 84%);
  padding: 0.8rem 1.6rem;
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background 0.3s;
}

.dropdown-content a:hover {
  background-color: #2d3a5b;
  border-radius: 10px;
}

.dropdown-content a.active::after {
  content: "✔";
  float: right;
  color: #4da6ff;
  opacity: 0;
}

/* Show dropdown when active */
.show {
  display: block;
}
option {
  font-size: 1.4rem;
}

/* Main page styles */

.primary-heading {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: hsl(250, 6%, 84%);
  text-align: center;
}
.heading {
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
}
.search-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  gap: 5px;
}

#searchInput {
  padding: 1rem 4rem;
  border-radius: 10px;
  width: 100%;
  font-size: 1.4rem;
  background-color: #272541;
  color: hsl(250, 6%, 84%);
  border: 0 transparent none;
}

input::placeholder {
  font-family: "Bricolage Grotesque", sans-serif;
  color: hsl(250, 6%, 84%);
}
.search-btn {
  border-radius: 10px;
  padding: 0.5rem 4rem;
  background-color: #4455da;
  font-size: 1.4rem;
  color: hsl(250, 6%, 84%);
  font-weight: 500;
  font-family: "DM Sans";
  border: 0 transparent none;
}

.main-display {
  position: relative;
  padding-bottom: 2.4rem;
}
.background-img {
  width: 100%;
  /* display: none; */
}
.main-display div {
  color: hsl(250, 6%, 84%);
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* opacity: 0; */
}

.sub-display {
  justify-content: end;
  align-items: center;
}
.location {
  font-size: 3.4rem;
  color: #fff;
  font-weight: 600;
}
.date-time {
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
}

.temp {
  font-size: 8rem;
  font-style: italic;
  color: #fff;
  font-weight: 500;
  display: flex;
}

.sub-display {
  display: flex;
}
.display-weather {
  width: 35%;
}

.sub-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-bottom: 2.4rem;
}
.sub-head {
  background-color: #272541;
  border-radius: 10px;
  padding: 3.2rem;
}
.sub-head-text {
  font-size: 1.4rem;
  color: hsl(250, 6%, 84%);
}
.sub-head-value {
  font-size: 2.4rem;
  color: hsl(250, 6%, 84%);
}

/* Forcast */
/* .forecast {
  /* padding: 6rem 0; */

.forecast-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1.4rem;
}

.forecast-sub {
  background-color: #272541;
  border-radius: 10px;
  padding: 2.4rem;
}

.forcast-text {
  font-weight: 700;
  padding-bottom: 1.4rem;
  font-size: 2.4rem;
  color: #fff;
}

.weather-condition {
  width: 100%;
}
.hourly-weather {
  width: 20%;
}
.days,
.weather-rep,
.temperature,
.temp-second {
  font-size: 1.2rem;
  color: hsl(250, 6%, 84%);
  text-align: center;
}
.weather-rep {
  /* padding: 1.4rem 0; */
  font-size: 8.4rem;
}
.temps {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  align-items: stretch;
  padding: 6.8rem 0;
}
/* API ERROR STYLE */
.api-error {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.6rem 0;
}
.err-icon {
  width: 10%;
}
.err-message {
  font-size: 5rem;
  font-weight: 600;
}
.err-msg {
  font-size: 2.4rem;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 2.4rem;
}
.retry-btn {
  display: flex;
  gap: 1rem;
  color: hsl(250, 6%, 84%);
  padding: 1.2rem 1.2rem;
  border-radius: 10px;
  background-color: #3d3b5e;
}
.retry-btn p {
  font-size: 1.2rem;
}
.retry-img {
  width: 100%;
}
@media (max-width: 430px) {
  .api-error {
    width: 100%;
  }
  .err-msg {
    text-align: center;
    font-size: 2.4rem;
    line-height: 1;
  }
}
/* Loading state */

.main-display-sec {
  text-align: center;
  background-color: #3d3b5e;
  border-radius: 20px;
  padding: 20rem;
  margin-bottom: 5.4rem;
}
.loading-icon {
  width: 5%;
}
.load-text {
  font-size: 3.6rem;
  text-align: center;
}
.loading-container-head {
  display: flex;
}

/* Media Queries */
@media (max-width: 64em) {
  .primary-heading {
    font-size: 4rem;
  }
  .location {
    font-size: 3rem;
    line-height: 1.2;
  }
  .date-time {
    font-size: 1.4rem;
  }
  .sub-head {
    padding: 2rem;
  }
  select {
    padding: 1rem;
    font-size: 1rem;
  }
  .hourly-forecast {
    font-size: 1rem;
  }
  .side-container {
    padding: 2rem;
  }
  .side-sub-container {
    align-items: center;
  }

  .aside-time {
    font-size: 1.2rem;
  }
  .aside-sub-container li {
    margin-bottom: 1rem;
  }
  .hourly-weather {
    width: 30%;
  }
}
@media (max-width: 52em) {
  .heading {
    width: 100%;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .hourly-forecast {
    font-size: 2.4rem;
  }
  .hourly-weather {
    width: 15%;
  }
  .side-container {
    padding: 3rem;
  }
  .aside-time,
  .aside-temp {
    font-size: 2rem;
  }
  .aside-sub-container li {
    padding: 0rem 3rem;
  }
}

@media (max-width: 27em) {
  body {
    padding: 2rem;
  }
  .grid {
    padding: 2rem 0;
  }

  .heading {
    padding: 5rem 2rem;
  }
  .primary-heading {
    font-size: 4.8rem;
    line-height: 1.2;
    padding-bottom: 4rem;
  }

  .main-display div {
    flex-direction: column;
    align-items: center;
  }
  .sub-display {
    justify-content: center;
  }
  .display-weather {
    width: 47%;
    justify-self: start;
  }

  .location {
    font-size: 3rem;
  }
  .date-time {
    font-size: 1.4rem;
    text-align: center;
  }
  .search-box {
    display: block;
    width: 100%;
  }
  #searchInput {
    padding: 1rem 4rem;
    margin-bottom: 1rem;
  }
  .search-btn {
    width: 100%;
    padding: 1rem 4rem;
  }

  .sub-header {
    grid-template-columns: repeat(2, 1fr);
  }

  .forecast-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .hourly-forecast {
    font-size: 1.4rem;
  }
  .side-container {
    padding: 2rem;
  }
  .aside-time,
  .aside-temp {
    font-size: 1rem;
  }
  .aside-sub-container li {
    padding: 0rem 1rem;
  }
}
